@import '../../../../index.scss';

.historyList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.addButton {
  display: block;
  margin: $space;
  width: calc(100% - $space * 2);
}

.placeholder{
  padding: $space-l;
  display: flex;
  justify-content: center;
  align-items: center;
}
