@import '../../../../../index.scss';

.filter{
  position: absolute;
  background-color: white;
  padding: $space-l;
  box-shadow: $box-shadow;
  // border-radius: $br-xl;
  width: calc(100vw - 2 * $space);
  z-index: 100;
  &Wrapper{
    position: relative;
  }
}