@import '../../../../index.scss';

.historyItem {
  border-bottom: $border $secondary-color;
  &:last-child{
    border-bottom: none;
  }
  &Sum{
    
  }
  &Category{
    color: $secondary-text;
    margin: $space-s 0;
  }
  &Desc{
    margin: $space-s 0;
  }
}