@import '../../../../index.scss';

.historyItem {
  padding: $space;
  border-bottom: $border $secondary-color;
  display: flex;
  gap: $space-xl;
  &:last-child{
    border-bottom: none;
  }
  &Image{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
      height: 75px;
      display: block;
    }
  }
  &Data{
    flex: 3;
  }
  &Sum{
    font-size: 1.8rem;
    margin: $space 0;
  }
  &Category{
    color: $secondary-text;
    margin: $space-s 0;
  }
  &Date{
    color: $secondary-text;
    margin: $space-s 0;
  }
  &Desc{
    margin: $space-s 0;
  }
}