@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Open Sans";
}

$primary-color: rgb(255, 221, 45);
$primary-darkened: rgb(245, 211, 35);
$secondary-color: rgb(238, 238, 238);
$secondary-darkened: rgb(228, 228, 228);
$secondary-text: rgb(100, 100, 100);

$box-shadow: 0 0 10px rgba(0,0,0,0.5);

$br: 5px;
$br-l: 10px;
$br-xl: 20px;

$border: 1px solid;

$space-xs: 4px;
$space-s: 8px;
$space: 16px;
$space-l: 32px;
$space-xl: 48px;

$transition: 0.3s;

@mixin resetControll {
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

.multipleHorizontal{
  margin-right: $space;
  &:last-child{
    margin-right: 0;
  }
}